<!DOCTYPE html>
<html>

<head>
    <script data-ad-client="ca-pub-6351481944770696" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>administrator</title>

    <link rel="stylesheet" type="text/css" href="ad.css">
</head>

<body onload="myFunction()">
    <div class="loader" id="campaign-alert">
        <img src="loader.png" alt="loader">
    </div>

    <script>
        function myFunction() {
            document.getElementById('campaign-alert').style.display = "none";
        }
    </script>

    <div>
        <section id="particles-js">
            <div class="box">
                <div class="form">
                    <h2>Login</h2>
                    <form action="/ad" method="POST">
                        <div class="inputBx">
                            <input type="email" placeholder="Email" name="username">
                            <img src="user.jfif">
                        </div>
                        <div class="inputBx">
                            <input type="password" placeholder="password" name="password">
                            <img src="lock.jfif">
                        </div>
                        <div class="inputBx">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script src="particles.js"></script>
    <script src="app.js"></script>
</body>

</html>