<!DOCTYPE html>
<html>

<head>
  <script data-ad-client="ca-pub-6351481944770696" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>MOVIE BOOKING</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="pr3.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0e070a32e4.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body onload="myFunction()">
  <div class="loader" id="campaign-alert">
    <img src="loader.png" alt="loader">
  </div>

  <script>
    function myFunction() {
      document.getElementById('campaign-alert').style.display = "none";
    }
  </script>
  
  <section>
    <header>
      <a href="/index" class="logo">VIT Movies <i class="fas fa-ticket-alt"></i></a>
      <div class="togglemenu" onclick="togglemenu()"></div>
      <ul class="navigation">
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/feedback">FeedBack</a></li>
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </header>
    <div class="content" id="content1">
      <div class="contentBx" ng-app="">
        <h2>MOVIE: <span id="moviename" style="font-size: 20px;font-family: 'Nosifer', cursive;"></span></h2>
        <form name="myForm" action="/pr4" method="POST">
          <h1 class="co">
            Name: <span><%= Na %></span>
          </h1>
          <h1 class="co">
            Phone No: <span><%= Ph %></span>
          </h1>
          <h1 class="co">
            Seat Numbers:<span><%= No %></span>
          </h1>
          <h1 class="co">
            price:<span><%= Pr %></span>
          </h1>
          <br>
          <button type="submit" id="finputs">Pay Now <i class="fas fa-couch"></i></button>
        </form>

      </div>
    </div>
    <ul class="sci">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </section>
  <script>
    function togglemenu() {
      const togglemenu = document.querySelector('.togglemenu');
      const navigation = document.querySelector('.navigation');
      togglemenu.classList.toggle('active');
      navigation.classList.toggle('active');
    }
  </script>
  <script>
    document.getElementById("moviename").innerHTML = localStorage.getItem("name4");

    var x = localStorage.getItem("name4");
    if (x == "Spider Man") {
      document.getElementById("moviename").style.color = "black";
      document.getElementById("content1").style.backgroundImage = "url('spiderman2.jpg')";
      document.getElementById("content1").style.backgroundSize = "cover";
    } else if (x == "Iron Man") {
      document.getElementById("moviename").style.color = "rgb(0, 217, 255)";
      document.getElementById("content1").style.backgroundImage = "url('ironman3.jpg')";
      document.getElementById("content1").style.backgroundSize = "cover";
    } else {
      document.getElementById("moviename").style.color = "rgb(250, 207, 18)";
      document.getElementById("content1").style.backgroundImage = "url('doctorstrange2.jpg')";
      document.getElementById("content1").style.backgroundSize = "cover";
      document.getElementById("moviename").style.fontSize = "15px";
    }
  </script>
</body>

</html>