body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
}
.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.loader img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loads 5s linear infinite;
}

@keyframes loads {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#Username {
    border: none;
    border-bottom: 1px solid;
}
.screen {
    width: 100%;
    height: 20px;
    background: #4388cc;
    color: #fff;
    line-height: 20px;
    font-size: 15px;
}
.smallBox::before {
    content: ".";
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}
.greenBox::before {
    content: "";
    background: Green;
}
.redBox::before {
    content: "";
    background: Red;
}
.emptyBox::before {
    content: "";
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.8);
    background-color: #ccc;
}
.seats {
    border: 1px solid red;
    background: yellow;
}
.seatGap {
    width: 40px;
}
.seatVGap {
    height: 40px;
}
table {
    text-align: center;
}
.Displaytable {
    text-align: center;
}
.Displaytable td,
.Displaytable th {
    border: 1px solid;
    text-align: left;
}
textarea {
    border: none;
    background: transparent;
}
input[type="checkbox"] {
    width: 0;
    margin-right: 18px;
}
input[type="checkbox"]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.8);
    background-color: #ccc;
}
input[type="checkbox"]:checked:before {
    background-color: Green;
    font-size: 15px;
}
